Bottleneck
certifi
contourpy
cycler
fonttools
h5py
kiwisolver
matplotlib
munkres
numexpr
numpy
packaging
pandas
Pillow
pip
ply
pyparsing
PyQt5-sip
python-dateutil
pytz
scipy
setuptools
sip
six
toml
tornado
tqdm
wheel
